
*{background-color: lavender;}
/* *{font-family: 'Arial Narrow', Arial, sans-serif} */

h1{
    font-size: 30px;
    color: purple;
    text-align: center;
    
   }
h2{
    font-size: 18px;
    text-align: center;
    background-color: rgb(198, 226, 244);

}
h3{
    font-size: 28px;
    color: purple;
    text-align: center;
    text-decoration:dotted
}
p{
   font-size: 16px;
}
.fourth{
    background-color: rgb(198, 226, 244);
}
.active{
    color: navy;
}
.code{
    font-size: 15px;
    font-family: monospace;
    color: rgb(253, 200, 102);
    background-color: black;
}

#logo{
    height: 200px;
}

.nav{
    position: fixed;
    top: 0; 
    width: 60%;
    margin-left: auto;
	margin-right: auto;
}

.nav ul{
    list-style-type: none;
    background-color: pink;
    width: 100%;
    text-align: center;
}

.nav ul li a{ 
    position: relative;
    float: left;
    color: purple;
    background-color: pink;
    text-decoration: none;
    text-size-adjust: large;
    font-size: large;
    font-weight: 800;
}
.page{
    width: 60%;
    margin-left: auto;
	margin-right: auto;
}

.codeImage {
    height: 100%;
    width: 100%
}

.define{
    background-color: black;
    color: rgb(167, 82, 169);
}

.comments{
    background-color: black;
    color: grey
}

.var{
    background-color: black;
    color: rgb(91, 190, 223)
}

.string{
    background-color: black;
    color: rgb(163, 78, 78);
}

.oper{
    background-color: black;
    color: white;
}