
*{background-color: lavender;}

h1{
    font-size: 30px;
    color: purple;
    text-align: center;
    
   }
h2{
    font-size: 16px;
    text-align: center;
    background-color: rgb(198, 226, 244);

}
h3{
    font-size: 20px;
    color: purple;
    text-align: center;
    text-decoration-line: underline;
}
p{
   font-size: 14px;
}
.fourth{
    background-color: rgb(198, 226, 244);
}
.active{
    color: navy;
}
.code{
    font-size: 12px;
    font-family: monospace;
    color: rgb(223, 127, 1);
    background-color: white;
}
#logo{
    height: 200px;
}

.nav{
    display: flex;
}
.nav ul{
    list-style-type: none;
    background-color: pink;
    width: 100%;
    text-align: center;
}

.nav ul li a{ 
    position: relative;
    float: left;
    color: purple;
    background-color: pink;
    text-decoration: none;
    text-size-adjust: large;
    font-size: large;
}
